@font-face {
    font-family: "Gilroy";
    src: url("./assets/fonts/Gilroy-Medium.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cGray {
        color: #77777c
        !important
    }
}
