@font-face {
    font-family: "tiempeos";
    src: url("./assets/fonts/TestTiemposHeadline-Medium.otf");
}

@font-face {
    font-family: "gilroy";
    src: url("./assets/fonts/Gilroy-Regular.ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .cGray {
        color: #77777c !important;
    }

    .d1 {
        @apply bg-red-300/70 !important;
    }
    .d2 {
        @apply bg-blue-300/70 !important;
    }
    .d3 {
        @apply bg-green-300/70 !important;
    }
    .d4 {
        @apply bg-orange-300/70 !important;
    }
    .d5 {
        @apply bg-pink-300/70 !important;
    }
}
